<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AngularJS sample</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js" charset="utf-8"></script>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', init);
      function init() {
      const app = angular.module("app", []);

      app.component("myApp", {
        template: `
          <my-area></my-area>
          <modifiable-list></modifiable-list>
          `,
        controller: function(){}
      });

      class AreaCtrl{
        constructor(){
          this.text="init";
        }
      }

      app.component("myArea",{
        template:
          `<textarea ng-model="$ctrl.text"></textarea>
           <div>{{$ctrl.text}}</div>`,
         controller:AreaCtrl
      })

      class ModifiableCtrl {
        constructor(){
          this.items=["a"];
          this.newItem="hogehoge";
        }
        onKeyPress(event){
          if(event.keyCode==13){
            event.preventDefault();
            this.items.push(this.newItem);
            this.newItem="";
          }
        }
      }

      app.component("modifiableList",{
        template:`
          <input type="text" ng-model="$ctrl.newItem" ng-keypress="$ctrl.onKeyPress($event)"></input>
          <list items="$ctrl.items"></list>
        `,
        controller:ModifiableCtrl
      })

      app.component("list", {
        bindings: {
          items: "="
        },
        template:
        `<ul>
          <li ng-repeat="item in $ctrl.items track by $index">{{item}}</li>
        </ul>`,
        controller: function(){}
      });
      angular.bootstrap(document.body, [app.name]);
      }
    </script>
  </head>
  <body>
    <my-app></my-app>
  </body>
</html>
