<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Backbone js</title>
    <script src="../common/load.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.2/lodash.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js" charset="utf-8"></script>
    <script type="text/javascript">
      function init() {
        var App = Backbone.View.extend({
          template: _.template(`
              <textarea><%= text %></textarea>
              <div class="area"><%- text %></div>`),
          initialize: function (opt) {
            this.model = opt.model;
            this.render();
            this.listenTo(this.model, "change:text", this.applyText);
          },
          events: {
            "input": "onInput"
          },
          onInput: function (e) {
            this.model.set("text", e.target.value);
          },
          render: function () {
            this.$el.html(this.template(this.model.toJSON()))
          },
          applyText: function (model, text) {
            this.$(".area").html(_.escape(text));
          }
        });
        new App({
          el: "#app",
          model: new Backbone.Model({text: "init"})
        });
      }
    </script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>