<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue js</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.js" charset="utf-8"></script>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', init);
      function init() {
        var MyComponent = Vue.extend({
          template: `
            <textarea v-model="test"></textarea>
            <div>{{test}}</div>
          `,
          data: function () {
            return {test: "hoge"};
          }
        })
        var List=Vue.extend({
          template:`
            <input v-model="newItem" @keypress.enter.prevent="addItem"></input>
            <ul>
              <li v-for="item in items">{{item.text}}</li>
            </ul>
          `,
          data:function(){
            return {
              newItem:"",
              items:[{text:"init"}]
            }
          },
          methods:{
            addItem:function(e){
              this.items.push({text:this.newItem});
              this.newItem="";
            }
          }
        });
        Vue.component('test-component', MyComponent);
        Vue.component('my-list', List);
        console.log("test");
        var App = new Vue({el: "#app"});
      }
    </script>
  </head>
  <body>
    <div id="app">
      <test-component></test-component>
      <div is="my-list"></div>
    </div>

  </body>
</html>
